<!-- <div> -->
<!--         {{#foreach navigation}} -->
<!--             <span class="nav&#45;{{slug}}{{#if current}} nav&#45;current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></span> -->
<!--         {{/foreach}} -->
<ul class="nav">
  <li class="dropdown">
    <a href="#!">For Founders</a>
    <ul class="nav-dropdown">
      <li><a href="/starting-a-business">Starting a Business</a></li>
      <li><a href="/pitch-perfect">Pitch Perfect</a></li>
      <li><a href="/diversity-inclusion">Diversity & Inclusion</a></li>
      <li><a href="/legal">Legal</a></li>
      <li><a href="/marketing-growth">Marketing & Growth</a></li>
      <li><a href="/leadership">Leadership</a></li>
      <li><a href="/founder-profiles">Founder Profiles</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#!">Tech</a>
    <ul class="nav-dropdown">
      <li><a href="/strategy">Strategies & Tools</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#!">Career Development</a>
    <ul class="nav-dropdown">
      <li><a href="/management">Management</a></li>
      <li><a href="/DI">Diversity & Inclusion</a></li>
      <li><a href="/job-search">Job Search</a></li>
      <li><a href="/career-growth">Career Growth</a></li>
      <li><a href="/salary-negotiation">Salary Negotiation</a></li>
      <li><a href="/corporate-boss">Corporate Boss</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#!">About</a>
    <ul class="nav-dropdown">
      <li><a href="#">Our Story</a></li>
      <li><a href="#">Meet the Team</a></li>
    </ul>
  </li>
  <li>
    <a href="#!">Advertise</a>
  </li>
</ul>
