{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-header">
  {{> site-header}}
</header>

{{!-- Everything inside the #post tags pulls data from the post --}}

  <div class="frame_container">
    <main class="main">
      <div class="resp-container">
        <iframe class="resp-iframe" src="https://www.levelup.mogulmillennial.com/events" gesture="media"  allow="encrypted-media" allowfullscreen></iframe>
      </div>
    </main>
  </div>

